body {
  background: url('./assets/sky.jpg') no-repeat top center;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.app-items-container {
  margin: 5% auto 0;
  width: 70%;
}