body {
  background: url('./assets/sky.jpg') no-repeat top center;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.app-items-container {
  margin: 5% auto 0;
  width: 70%;
}

/* transition animations */

.fade {
  right: 100px;

}

/* end transition animation */

.fade-enter-active {
  right: 0px;
  transition: .5s ease-in all;
}

.fade-leave {
  right: 0px;
}

.fade-leave-active {
  right: -100px;
  transition: .5s ease-out all;
}